body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "Flexo-Medium",arial,sans-serif;
}

.d-flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-column {
    flex-direction: column;
}

.pokedex-container {
    min-height: 100vh;
}

.pokedex-item {
    width: 100%;
}

.pokedex-item > *{
    margin: 20px 0px;
}

.pokedex-item-img {
    width: 15em;
    height: 15em;
    background-color: #FFF;
    border-radius: 50%;
    margin: 50px;
}

.pokedex-item-details > *{
    margin: 10px 0px;
    color: #FFF;
    text-align: right;
}

.pokedex-item-details-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.pokedex-item-details-name {
    font-size: 4rem;
}

.pokedex-item-details-type {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.pokedex-shadow {
    -webkit-box-shadow: 10px 21px 17px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 21px 17px -4px rgba(0,0,0,0.2);
    box-shadow: 10px 21px 17px -4px rgba(0,0,0,0.2);
}

.pokedex-btn {
    padding: 1em;
    color: black;
    background-color:#FFF;
    border-radius: 25px;
    cursor: pointer;
}

.pokedex-time {
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
}

.pokedex-logo {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .pokemon-main-section {
        flex-direction: column;
    }

    .pokedex-item-img {
        max-width: 15em;
        max-height: 15em;
        margin: 2em 0em;
    }

    .pokedex-item-details-number {
        font-size: 1rem;
        font-weight: bold;
    }
    
    .pokedex-item-details-name {
        font-size: 2rem;
    }
  }

